.refinements
  display: block
  height: 400px
  overflow: auto
  background-color: white
  margin-top: 10px
  border-radius: 20px

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  background: transparent

::-webkit-scrollbar-thumb
  background: #888
  border-radius: 2px

::-webkit-scrollbar-thumb:hover
  background: #555
