<div
  *ngIf="item"
  class=""
  style="
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 1;
  ">
  <div
    class="bg-light h-100 mat-elevation-z3"
    style="max-width: 30vw; border-radius: 10px; visibility: visible">
    <div *ngIf="expanded">
      <app-item-kv-table [oscarItem]="item"></app-item-kv-table>
    </div>
    <div
      style="
        width: 30vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
      ">
      <div
        class="d-flex align-items-center"
        style="justify-content: space-between; width: 40%">
        <mat-icon color="primary">place</mat-icon>
        <span style="margin-top: 2px">{{ name }}</span>
      </div>
      <button
        mat-icon-button
        [color]="expanded ? 'primary' : null"
        (click)="showInfo()">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button (click)="addToRoute()">
        <mat-icon>directions</mat-icon>
      </button>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
