.help
  background-color: white
  padding: 30px
  border-radius: 20px

table
  border-collapse: collapse
  margin-bottom: 50px
th
  background-color: #3f51b5

tr:hover
  background-color: #cbcdcd

.table-condensed th, td
  border-bottom: 1px solid
  padding: 15px

.table-normal th,td
  border: 1px solid
  padding: 10px
