<div class="wrapper-routing-list">
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      margin: 5px;
      height: 30%;
    ">
    <!--<mat-button-toggle-group [(ngModel)]="routingType" (ngModelChange)="updateRoutingType()">
      <mat-button-toggle value="car" aria-label="Text align left">
        <mat-icon>directions_car</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="bike" aria-label="Text align center">
        <mat-icon>directions_bike</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="foot" aria-label="Text align right">
        <mat-icon>directions_walk</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>-->
    <div class="wrapper-route-props">
      <div class="wrapper-id-set">
        <h2 style="margin: 0">Identification:</h2>
        <input
          [(ngModel)]="id"
          style="
            max-width: 100px;
            height: 20px;
            border-radius: 10px;
            padding: 0 5px;
            text-align: center;
          "
          (focusout)="setId()"
          appBlurOnEnter />
      </div>
      <div class="wrapper-id-set">
        <h2 style="margin: 0">Distance:</h2>
        <h3 style="margin: 0" *ngIf="distance > 0">
          {{ distance | number }} km
        </h3>
      </div>
      <!-- <div class="wrapper-id-set">
        <p>Time needed:</p>
        <span *ngIf="time > 0">{{ toHHMMSS(time / 100) }}</span>
      </div> -->
    </div>
    <div class="wrapper-route-props">
      <button
        class="add-route-button"
        mat-raised-button
        color="primary"
        (click)="emitNewTab()">
        Add New Route
      </button>
      <button mat-raised-button (click)="clearList()">Clear Points</button>
    </div>
  </div>

  <div
    *ngIf="routingMarkers.length > 0"
    cdkDropList
    class="routing-list"
    (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="let routingMarker of routingMarkers"
      cdkDrag
      class="routing-list-item">
      <div
        style="width: 13%; display: inline-flex; justify-content: space-around">
        <i class="fas fa-grip-vertical"></i>
        <i
          class="fas fa-map-marker-alt"
          [style.color]="routingMarker.color"></i>
      </div>
      <div
        *ngIf="routingMarker.name === ''"
        style="
          display: inline-flex;
          align-items: center;
          justify-content: space-evenly;
          width: 60%;
        ">
        <span>lat: {{ routingMarker.geoPoint.lat | number: '1.0-6' }}</span>
        <span>lon: {{ routingMarker.geoPoint.lng | number: '1.0-6' }}</span>
      </div>
      <div *ngIf="routingMarker.name !== ''">
        {{ routingMarker.name }}
      </div>
      <i
        style="cursor: pointer; float: right"
        (click)="removePoint(routingMarker.color)"
        class="fas fa-times"></i>
    </div>
  </div>
  <div
    style="text-align: center; width: 100%; margin-top: 50px"
    *ngIf="routingMarkers.length === 0">
    Add a Point by clicking on the Map.
  </div>
</div>
